<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.nmefc.neargoos.dao.management.ProductMapper">-->
    <!--<resultMap id="BaseResultMap" type="com.nmefc.neargoos.entity_test_test.management.Product">-->
        <!--<id column="id" jdbcType="INTEGER" property="id"/>-->
        <!--<result column="name" jdbcType="VARCHAR" property="name"/>-->
        <!--<result column="type" jdbcType="VARCHAR" property="type"/>-->
        <!--<result column="area" jdbcType="VARCHAR" property="area"/>-->
        <!--<result column="interval" jdbcType="INTEGER" property="interval"/>-->
        <!--<result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>-->
    <!--</resultMap>-->
    <!--<sql id="Example_Where_Clause">-->
        <!--<where>-->
            <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
                <!--<if test="criteria.valid">-->
                    <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
                        <!--<foreach collection="criteria.criteria" item="criterion">-->
                            <!--<choose>-->
                                <!--<when test="criterion.noValue">-->
                                    <!--and ${criterion.condition}-->
                                <!--</when>-->
                                <!--<when test="criterion.singleValue">-->
                                    <!--and ${criterion.condition} #{criterion.value}-->
                                <!--</when>-->
                                <!--<when test="criterion.betweenValue">-->
                                    <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                                <!--</when>-->
                                <!--<when test="criterion.listValue">-->
                                    <!--and ${criterion.condition}-->
                                    <!--<foreach close=")" collection="criterion.value" item="listItem" open="("-->
                                             <!--separator=",">-->
                                        <!--#{listItem}-->
                                    <!--</foreach>-->
                                <!--</when>-->
                            <!--</choose>-->
                        <!--</foreach>-->
                    <!--</trim>-->
                <!--</if>-->
            <!--</foreach>-->
        <!--</where>-->
    <!--</sql>-->
    <!--<sql id="Update_By_Example_Where_Clause">-->
        <!--<where>-->
            <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
                <!--<if test="criteria.valid">-->
                    <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
                        <!--<foreach collection="criteria.criteria" item="criterion">-->
                            <!--<choose>-->
                                <!--<when test="criterion.noValue">-->
                                    <!--and ${criterion.condition}-->
                                <!--</when>-->
                                <!--<when test="criterion.singleValue">-->
                                    <!--and ${criterion.condition} #{criterion.value}-->
                                <!--</when>-->
                                <!--<when test="criterion.betweenValue">-->
                                    <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                                <!--</when>-->
                                <!--<when test="criterion.listValue">-->
                                    <!--and ${criterion.condition}-->
                                    <!--<foreach close=")" collection="criterion.value" item="listItem" open="("-->
                                             <!--separator=",">-->
                                        <!--#{listItem}-->
                                    <!--</foreach>-->
                                <!--</when>-->
                            <!--</choose>-->
                        <!--</foreach>-->
                    <!--</trim>-->
                <!--</if>-->
            <!--</foreach>-->
        <!--</where>-->
    <!--</sql>-->
    <!--<sql id="Base_Column_List">-->
    <!--id, name, type, area, interval, image_url-->
  <!--</sql>-->
    <!--<select id="selectByExample" parameterType="com.nmefc.neargoos.entity_test_test.management.ProductExample"-->
            <!--resultMap="BaseResultMap">-->
        <!--select-->
        <!--<if test="distinct">-->
            <!--distinct-->
        <!--</if>-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from product-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Example_Where_Clause"/>-->
        <!--</if>-->
        <!--<if test="orderByClause != null">-->
            <!--order by ${orderByClause}-->
        <!--</if>-->
    <!--</select>-->
    <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from product-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from product-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
    <!--<delete id="deleteByExample" parameterType="com.nmefc.neargoos.entity_test_test.management.ProductExample">-->
        <!--delete from product-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Example_Where_Clause"/>-->
        <!--</if>-->
    <!--</delete>-->
    <!--<insert id="insert" parameterType="com.nmefc.neargoos.entity_test_test.management.Product">-->
    <!--insert into product (id, name, type, -->
      <!--area, interval, image_url-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, -->
      <!--#{area,jdbcType=VARCHAR}, #{interval,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
    <!--<insert id="insertSelective" parameterType="com.nmefc.neargoos.entity_test_test.management.Product">-->
        <!--insert into product-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--id,-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--name,-->
            <!--</if>-->
            <!--<if test="type != null">-->
                <!--type,-->
            <!--</if>-->
            <!--<if test="area != null">-->
                <!--area,-->
            <!--</if>-->
            <!--<if test="interval != null">-->
                <!--interval,-->
            <!--</if>-->
            <!--<if test="imageUrl != null">-->
                <!--image_url,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null">-->
                <!--#{id,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--#{name,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="type != null">-->
                <!--#{type,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="area != null">-->
                <!--#{area,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="interval != null">-->
                <!--#{interval,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="imageUrl != null">-->
                <!--#{imageUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->
    <!--<select id="countByExample" parameterType="com.nmefc.neargoos.entity_test_test.management.ProductExample"-->
            <!--resultType="java.lang.Long">-->
        <!--select count(*) from product-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Example_Where_Clause"/>-->
        <!--</if>-->
    <!--</select>-->
    <!--<update id="updateByExampleSelective" parameterType="map">-->
        <!--update product-->
        <!--<set>-->
            <!--<if test="record.id != null">-->
                <!--id = #{record.id,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="record.name != null">-->
                <!--name = #{record.name,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="record.type != null">-->
                <!--type = #{record.type,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="record.area != null">-->
                <!--area = #{record.area,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="record.interval != null">-->
                <!--interval = #{record.interval,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="record.imageUrl != null">-->
                <!--image_url = #{record.imageUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</set>-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Update_By_Example_Where_Clause"/>-->
        <!--</if>-->
    <!--</update>-->
    <!--<update id="updateByExample" parameterType="map">-->
        <!--update product-->
        <!--set id = #{record.id,jdbcType=INTEGER},-->
        <!--name = #{record.name,jdbcType=VARCHAR},-->
        <!--type = #{record.type,jdbcType=VARCHAR},-->
        <!--area = #{record.area,jdbcType=VARCHAR},-->
        <!--interval = #{record.interval,jdbcType=INTEGER},-->
        <!--image_url = #{record.imageUrl,jdbcType=VARCHAR}-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Update_By_Example_Where_Clause"/>-->
        <!--</if>-->
    <!--</update>-->
    <!--<update id="updateByPrimaryKeySelective" parameterType="com.nmefc.neargoos.entity_test_test.management.Product">-->
        <!--update product-->
        <!--<set>-->
            <!--<if test="name != null">-->
                <!--name = #{name,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="type != null">-->
                <!--type = #{type,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="area != null">-->
                <!--area = #{area,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="interval != null">-->
                <!--interval = #{interval,jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="imageUrl != null">-->
                <!--image_url = #{imageUrl,jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</set>-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</update>-->
    <!--<update id="updateByPrimaryKey" parameterType="com.nmefc.neargoos.entity_test_test.management.Product">-->
    <!--update product-->
    <!--set name = #{name,jdbcType=VARCHAR},-->
      <!--type = #{type,jdbcType=VARCHAR},-->
      <!--area = #{area,jdbcType=VARCHAR},-->
      <!--interval = #{interval,jdbcType=INTEGER},-->
      <!--image_url = #{imageUrl,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
    <!--&lt;!&ndash;自己追加的放在后面&ndash;&gt;-->
    <!--&lt;!&ndash;根据条件查询product&ndash;&gt;-->
    <!--&lt;!&ndash;<select id="selectByCondition" parameterType="com.nmefc.neargoos.entity_test_test.management.Product"&ndash;&gt;-->
    <!--&lt;!&ndash;resultMap="BaseResultMap">-->
<!--SELECT * FROM `product` AS P-->
<!--WHERE P.area=#{area,jdbcType=INTEGER}-->
<!--AND p.type=#{type,jdbcType=INTEGER}-->
<!--AND P.`interval`=#{interval,jdbcType=INTEGER}-->
<!--AND p.target_date=#{targetDate,jdbcType=VARCHAR}-->
<!--</select>&ndash;&gt;-->
    <!--<select id="selectByCondition"-->
            <!--resultMap="BaseResultMap">-->
        <!--SELECT * FROM `product` AS P-->
        <!--WHERE P.area=#{area,jdbcType=INTEGER}-->
        <!--AND p.type=#{type,jdbcType=INTEGER}-->
        <!--AND P.`interval`=#{interval,jdbcType=INTEGER}-->
        <!--AND p.target_date=#{targetDate,jdbcType=TIMESTAMP}-->
  <!--</select>-->
<!--</mapper>-->